<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>When choosing parameters please remember that srv## slaves have 32G of RAM and 12 CPUs, while cz7377 has 256G RAM and 12 CPUs.</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty plugin="leastload@1.0.3">
      <leastLoadDisabled>false</leastLoadDisabled>
    </org.bstick12.jenkinsci.plugins.leastload.LeastLoadDisabledProperty>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.model.StringParameterDefinition>
          <name>PERSONAL_TAG</name>
          <description>Tag is used in name of build.</description>
          <defaultValue></defaultValue>
        </hudson.model.StringParameterDefinition>
        <jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition plugin="extensible-choice-parameter@1.3.2">
          <name>ISO_URL</name>
          <description>&lt;b&gt;&lt;a href=&quot;http://vault.infra.mirantis.net/&quot;&gt;http://vault.infra.mirantis.net/&lt;/a&gt;&lt;/b&gt; - public ISOs are available here.
Required! Can be direct URL or URL to torrent-file. </description>
          <editable>true</editable>
          <choiceListProvider class="jp.ikedam.jenkins.plugins.extensible_choice_parameter.TextareaChoiceListProvider">
            <choiceList class="java.util.RandomAccessSubList">
              <l class="java.util.Arrays$ArrayList">
                <a class="string-array">
                  <string>http://vault.infra.mirantis.net/MirantisOpenStack-9.0.iso.torrent</string>
                  <string>http://vault.infra.mirantis.net/MirantisOpenStack-8.0.iso.torrent</string>
                  <string>http://vault.infra.mirantis.net/MirantisOpenStack-7.0.iso.torrent</string>
                  <string>http://vault.infra.mirantis.net/MirantisOpenStack-6.1.iso.torrent</string>
                  <string>http://vault.infra.mirantis.net/MirantisOpenStack-5.1.1.iso.torrent</string>
                  <string></string>
                </a>
              </l>
              <offset>0</offset>
              <size>5</size>
            </choiceList>
          </choiceListProvider>
        </jp.ikedam.jenkins.plugins.extensible__choice__parameter.ExtensibleChoiceParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NODES_COUNT</name>
          <description>Quantity of cluster nodes without fuel-master node.</description>
          <defaultValue>5</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ADMIN_RAM</name>
          <description>It&apos; recommended to set it to 4096 at least.</description>
          <defaultValue>4096</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>ADMIN_CPU</name>
          <description>For srv03#-scc slaves you can use 4 CPUs.</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SLAVE_RAM</name>
          <description>It&apos; recommended to set it to 4096 at least.</description>
          <defaultValue>4096</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>SLAVE_CPU</name>
          <description>For srv03#-scc slaves you can use 4 CPUs.</description>
          <defaultValue>1</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.StringParameterDefinition>
          <name>NODES_DISK_SIZE</name>
          <description>Size of virtual disk for slaves. 50GB by default.</description>
          <defaultValue>100</defaultValue>
        </hudson.model.StringParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>PREPARE_CLUSTER</name>
          <description>Check it to predefine cluster config</description>
          <defaultValue>true</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.BooleanParameterDefinition>
          <name>UPDATE_FUEL</name>
          <description>Update fuel version to latest MU (7.0 and 8.0 only) or upgrade release 9.x (9.0 to 9.1)</description>
          <defaultValue>false</defaultValue>
        </hudson.model.BooleanParameterDefinition>
        <hudson.model.TextParameterDefinition>
          <name>ADD_CENT_REPO</name>
          <description>Add repo url. One per line. It will be added as add&lt;i&gt;.repo</description>
          <defaultValue></defaultValue>
        </hudson.model.TextParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>NETWORK_TYPE</name>
          <description>Choose a network type or leave it empty</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>neutron_vlan</string>
              <string>neutron_gre</string>
              <string>neutron_tun</string>
              <string>nova</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>RELEASE</name>
          <description>Choose base for deployment</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>Ubuntu</string>
              <string>CentOS</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <hudson.model.ChoiceParameterDefinition>
          <name>HA</name>
          <description>High availability mode</description>
          <choices class="java.util.Arrays$ArrayList">
            <a class="string-array">
              <string>HA</string>
              <string>NO_HA</string>
            </a>
          </choices>
        </hudson.model.ChoiceParameterDefinition>
        <org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition plugin="nodelabelparameter@1.5.1">
          <name>Label of Slave</name>
          <description>You can choose where to deploy your cluster by typing exact slave label here.</description>
          <defaultValue>build-slave</defaultValue>
          <allNodesMatchingLabel>false</allNodesMatchingLabel>
          <triggerIfResult>allCases</triggerIfResult>
          <nodeEligibility class="org.jvnet.jenkins.plugins.nodelabelparameter.node.AllNodeEligibility"/>
        </org.jvnet.jenkins.plugins.nodelabelparameter.LabelParameterDefinition>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
    <com.sonyericsson.rebuild.RebuildSettings plugin="rebuild@1.25">
      <autoRebuild>false</autoRebuild>
      <rebuildDisabled>false</rebuildDisabled>
    </com.sonyericsson.rebuild.RebuildSettings>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <assignedNode>build-slave</assignedNode>
  <canRoam>false</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers/>
  <concurrentBuild>true</concurrentBuild>
  <customWorkspace>DEPLOY_CLUSTER</customWorkspace>
  <builders>
    <hudson.tasks.Shell>
      <command>set -x
export ENV_NAME=${BUILD_USER_ID}-${BUILD_NUMBER}
export PYTHONUNBUFFERED=1
curl -o ./build_cluster.py &quot;https://raw.githubusercontent.com/Mirantis/tools-sustaining/master/jenkins/build_cluster/build_cluster.py&quot;
curl -o ./scancodes.py &quot;https://raw.githubusercontent.com/Mirantis/tools-sustaining/master/jenkins/build_cluster/scancodes.py&quot;
curl -o ./update_helper.sh &quot;https://raw.githubusercontent.com/Mirantis/tools-sustaining/master/jenkins/build_cluster/update_helper.sh&quot;
curl -o ./update_helper.sh &quot;https://raw.githubusercontent.com/Mirantis/tools-sustaining/master/jenkins/build_cluster/repo_helper.sh&quot;

chmod +x update_helper.sh
chmod +x repo_helper.sh

python build_cluster.py

#JOB NEVER ENDS, IT JUST RUNS WHILE ENV IS ALIVE.
#ABORT THE BUILD TO DESTROY RUNNIN ENV
set +x
echo &quot;Cluster is ready. Abort job to destroy cluster.&quot;
while true
do
    sleep 60
done
</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers>
    <org.jenkinsci.plugins.postbuildscript.PostBuildScript plugin="postbuildscript@0.17">
      <buildSteps>
        <hudson.tasks.Shell>
          <command>set -x
export ENV_NAME=${BUILD_USER_ID}-${BUILD_NUMBER}
export PYTHONUNBUFFERED=1
python build_cluster.py --destroy
</command>
        </hudson.tasks.Shell>
      </buildSteps>
      <scriptOnlyIfSuccess>false</scriptOnlyIfSuccess>
      <scriptOnlyIfFailure>false</scriptOnlyIfFailure>
      <markBuildUnstable>false</markBuildUnstable>
    </org.jenkinsci.plugins.postbuildscript.PostBuildScript>
  </publishers>
  <buildWrappers>
    <hudson.plugins.timestamper.TimestamperBuildWrapper plugin="timestamper@1.6"/>
    <hudson.plugins.ansicolor.AnsiColorBuildWrapper plugin="ansicolor@0.4.1">
      <colorMapName>xterm</colorMapName>
    </hudson.plugins.ansicolor.AnsiColorBuildWrapper>
    <org.jenkinsci.plugins.buildnamesetter.BuildNameSetter plugin="build-name-setter@1.5.1">
      <template>${BUILD_USER_ID}-${BUILD_NUMBER}-${PERSONAL_TAG}</template>
    </org.jenkinsci.plugins.buildnamesetter.BuildNameSetter>
    <org.jenkinsci.plugins.builduser.BuildUser plugin="build-user-vars-plugin@1.4"/>
  </buildWrappers>
</project>